.scrollpane {
-fx-box-border: transparent;
}

.match_record {
-fx-pref-width: 281;
-fx-font-size: 14;
-fx-font-family: 'sans-serif';
}

.match_record:hover {
-fx-background-color: lightgrey;
}

.match_record_first_line {
-fx-font-weight: bold
}

.info_text {
-fx-font-size: 17;
-fx-font-weight: bold;
-fx-font-family: 'sans-serif';
-fx-underline: true;
}

.headline {
-fx-font-size: 15;
-fx-font-weight: bold;
-fx-font-family: 'sans-serif';
-fx-underline: true;
}

.normal_text {
-fx-font-size: 13;
-fx-font-family: 'sans-serif';
}

.property_record:hover {
-fx-background-color: lightgrey;
}
